JWT_SECRET=
SESSION_SECRET=
MONGO_URI=
FRONTEND_URL=http://localhost:5173

GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_USER=
EMAIL_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback
